* {
  box-sizing: border-box;
}

$color: black;

.movie-card-housing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //align-items: center;
  font-family: Lato;
  flex-wrap: wrap;
  //width: 100vw;

}

.search-box {
  color: green;
  height: 40px;
  padding: 5px 5px;
  width:300px;
  margin: 10px;
  border-color: green;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  &:active {
    border: green;
    box-shadow: 0px 0px 15px green;
  }
}

.search-button {
  height: 32px;
  border-radius: 25px;
  border-color: skyblue;
  padding: 5px;
  margin:10px;
  font-size: 18px;
  align-self: center;

  &:active {
    box-shadow: 0px 0px 15px green;
  }
}

.jump-button {
  position: fixed;
  scroll-behavior: smooth;
  right: 0;
  top: 0;
  z-index: 3;
  height: 70px;
  width: 70px;
  margin: 10px;
  margin-top: 80%;
  background-color: rgba(255, 81, 0, 0.521);
  color: rgba(0, 0, 0, 0.486);
  font-weight: 700;
  border-radius: 50%;
  box-shadow: -2px -2px 4px grey;
}

.movie-card-container {
  border: 0.25px solid black;
  box-shadow: 3px 3px 10px black;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 375px;
  margin-bottom: 30px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  background-color: #eee;
}
.rendered-items {
  display: flex;
  flex-direction: column;
  
}

.image-container {
  //  clip-path: circle(90% at 30px 30px);
  clip-path: circle(80% at 49% 32%);
  box-shadow: 3px 3px 10px black;
  border-radius: 5%;
  flex: 1;
  display: flex;
  max-width: 375px;
}
.movie-card-image {
  border-radius: inherit;
  width: inherit;
  width: 100vw;
  max-width: 375px;
  flex: 1;
}
.movie-info {
  padding: 10px;
  max-width: 375px;
  width: 100vw;

  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.movie-head-title {
  padding-right: -10px;
  color: black;
  font-size: 42px;
}

.movie-overview {
  max-width: 375px;
  padding: 0;
  color: $color;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  flex: 1;
}
.movie-date {
  max-width: 375px;
  color: $color;
  justify-content: right;
  text-align: right;
  font-size: 16px;
}
.movie-genre {
  max-width: 375px;
  color: $color;
  justify-content: right;
  text-align: right;
  font-size: 16px;
}
.movie-head-3 {
  max-width: 375px;
  color: $color;
  justify-content: right;
  text-align: right;
  font-size: 16px;
}
.movie-popularity {
  max-width: 375px;
  color: $color;
  justify-content: right;
  text-align: right;
  font-size: 16px;
}


// // 
// // 
// // 
// // 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
