.header-parent {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(10, 8, 8);
  color: green;
  display: flex;
}
.header-button-list-parent {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header-button {
  flex: 2;
  font-weight: 600;
  color: teal;
  border-radius: 35px;
  width: 175px;
  height: 30px;
  padding: 5px 10px;
  margin: 20px;
  border: 1px solid aqua;
  cursor: pointer;

  &:hover,
  &:active {
    border: 2px solid rgb(10, 141, 97);
    color: rgb(10, 141, 97);
  }
}
