* {
  box-sizing: content-box;
  
}


@media all and (max-width: 450px) {
  .framework-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.096);
    justify-content: center;
    text-align: center;
    background: rgb(8, 26, 56);
    background: -moz-linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#081a38",endColorstr="#081a38",GradientType=1);
  }

  
  .framework {
    display: flex;
    flex-direction: column;
  }


  .framework-under-header {
    height: 4px;
    flex-direction: row;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#005500",GradientType=1);
  }

  .framework-header {
    //display: flex;

    background-color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 1px 1px rgb(59, 65, 59);
    color: rgba(34, 80, 32, 0.877);
    padding-bottom: 0;
    margin: 0;
  }

  .title-top {
    color: whitesmoke;
    padding-bottom: 0;
    margin-bottom: -24px;
  }

  .title-bottom {
    color: rgba(22, 107, 107, 0.979);
    letter-spacing: 2px;
    margin-bottom: 24px;
    &::first-letter {
      font-size: 42px;
    }
  }

  .greenLantern {
    flex: 1;
    justify-self: flex-start;
    size: contain;
    height: 300px;
    width: 300px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .tmbd-issue {
    font-size: 8px;
    font-weight: 200;
    color: white;
  }

  .small-arrow-tab-pushed {
    display: contents;
    cursor: pointer;
    margin-top: 40px;
    padding-top: 80px;
    padding: 10px;



    h1 {
     text-shadow: 1px 1px 2px black;
    }
    h2 {
      font-weight: 100;
      font-size: 15px;
    }
  }
  .small-arrow-tab {
    display: none;
  }

  .menu-toggle-icon {
    position: absolute;
    top: 270px;
    right: 0;
    z-index: 20;
    color: white;
  }
 
  .header-button {
    flex: 1;
    font-weight: 600;
    font-size: 12px;
    color: teal;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    padding: 2px 5px;
    margin: 15px;
    border: 1px solid aqua;
    cursor: pointer;
  
    &:hover,
    &:active {
      border: 2px solid rgb(10, 141, 97);
      color: rgb(10, 141, 97);
    }
  }

  .section-one-sub-title {
    margin-top: 10px;
    padding-top: 80px;
    padding: 10px;



    h1 {
     text-shadow: 1px 1px 2px black;
    }
    h2 {
      font-weight: 100;
      font-size: 15px;
    }
  }


  .section-two-sub-title {
  
    padding-top: 20px;
    padding: 10px;

    h1 {
      text-shadow: 1px 1px 2px black;
     }
     h2 {
       font-weight: 100;
       font-size: 15px;
     }
  }

  .framework-section-one > div {
    padding-top: 40px;
    //margin: 30px;
    width: 90vw;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    color: white;
    text-align: center;
    //flex-wrap: wrap;
    padding: 25px;
    background: transparent;
    scrollbar-width: thin;
    scrollbar-color: green black;
   
    
  }
  .rendered-items {
    flex: 1;
    flex-direction: row;
    display: flex;
  }

  .framework-section-two > div{
    padding-top: 40px;
    //margin: 30px;
    width: 90vw;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    color: white;
    text-align: center;
    //flex-wrap: wrap;
    padding: 25px;
    background: transparent;
    scrollbar-width: thin;
    scrollbar-color: green black;
   
  }
  .rendered-items {
    flex: 1;
    flex-direction: row;
    display: flex;
  }}

//fpr large phones
@media (min-width: 450px) {


  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00bd86;
    outline: 2px solid slategrey;
    background-image: -webkit-linear-gradient(top,
    #fcfdfd 0%,
    #073549 50%,
    #0b596bad 51%,
    #156e5eef 100%);

  }
  
  ::-webkit-scrollbar:vertical {
    display: none;

  }


  
  
  .framework-container {
    display: flex;
    flex-direction: column;
    background: rgb(8, 26, 56);
    background: -moz-linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(8, 26, 56, 1) 0%,
      rgba(17, 102, 108, 1) 29%,
      rgba(18, 117, 118, 1) 35%,
      rgba(22, 151, 142, 1) 48%,
      rgba(23, 159, 147, 1) 51%,
      rgba(8, 26, 56, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#081a38",endColorstr="#081a38",GradientType=1);
  }

  .framework {
    display: flex;
    flex-direction: column;
  }

  .framework-under-header {
    height: 12px;
    flex-direction: row;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 90, 90) 68%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#005500",GradientType=1);
  }

  .framework-header {
    //display: flex;

    z-index: 2;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 1px 1px rgb(59, 65, 59);
    color: rgba(34, 80, 32, 0.877);
    padding-bottom: 0;
    margin: 0;
  }

  .title-top {
    color: whitesmoke;
    padding-bottom: 0;
    margin-bottom: -24px;
  }

  .title-bottom {
    color: rgba(22, 107, 107, 0.979);
    letter-spacing: 2px;
    margin-bottom: 24px;
    &::first-letter {
      font-size: 42px;
    }
  }

  .greenLantern {
    flex: 1;
    justify-self: flex-start;
    size: contain;
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .tmbd-issue {
    padding-top: 10px;
    font-size: 8px;
    font-weight: 200;
    color: white;
  }

  .small-arrow-tab-pushed {
    display: contents;
    cursor: pointer;
  }
  .small-arrow-tab {
    display: none;
  }

  .menu-toggle-icon {
    position: absolute;
    top: 370px;
    right: 0;
    z-index: 20;
    color: white;
  }
 

  .section-one-sub-title {
    padding-left: 40px;
    padding: 10px;
    
    h1 {
      
      text-shadow: 1px 1px 2px black;
     }
     h2 {
       font-weight: 100;
       font-size: 15px;
     }
  }

  .section-two-sub-title {
    padding-left: 40px;
    padding: 10px;
    
    h1 {
      text-shadow: 1px 1px 2px black;
     }
     h2 {
       font-weight: 100;
       font-size: 15px;
     }
  }
  .framework-section-one > div {
    margin: 30px;
    width: 90vw;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    color: white;
    text-align: center;
    //flex-wrap: wrap;
    padding: 25px;
    background: transparent;
    scrollbar-width: thin;
    scrollbar-color: green black;
   
    
  }
  .now-playing-rendered-items {
    flex: 1;
    flex-direction: row;
    display: flex;
  }

  .framework-section-two > div{
    margin: 30px;
    width: 90vw;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    color: white;
    text-align: center;
    //flex-wrap: wrap;
    padding: 25px;
    background: transparent;
    scrollbar-width: thin;
    scrollbar-color: green black;
  }
  .popular-rendered-items {
    flex: 1;
    flex-direction: row;
    display: flex;
  }

  .framework-section-main {
    flex: 1;
    align-self: center;
    justify-self: center;
  }
}
