

.movieCard-wrapper{
  padding: 0px;
}



.trending-card-body {
    display: inline-table;
   // display:flex;
    flex-direction: row;
   
    //  text-align: center;
    width: 160px;
    height: 250px;
    color: white;
    text-align: center;
    box-sizing: content-box;
    box-shadow: 0px 26px 15px -5px rgb(16, 37, 37);
    margin: 20px;
    border-radius: 5px;
    //flex-wrap: wrap;
    &:hover {
      box-shadow: 0px 26px 15px -5px rgba(32, 34, 33, 0.603);
    }
  }
  
  .trending {
    flex: display;
  
    padding: 4px;
    font-size: 12px;
  }
  
  .trending-photo-body {
    background-color: transparent;
    color: rgb(238, 238, 238);
    font-weight: 500;
    width: 160px;
    height: 250px;
    max-width: 300px;
    max-height: 450px;
    border-radius: inherit;
  }
  
  .trending-photo {
    height: inherit;
    width: inherit;
    border-radius: inherit;
  }
  

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
  }


  
  $color: black;
  
  @media all and (max-width: 450px) {

    .trending-card-body {
      display: inline-table;
     // display:flex;
      flex-direction: row;
     
      //  text-align: center;
      width: 100px;
      height: 150px;
      color: white;
      text-align: center;
      box-sizing: content-box;
      box-shadow: 0px 26px 15px -5px rgb(16, 37, 37);
      margin: 10px;
      border-radius: 2px;
      //flex-wrap: wrap;
      &:hover {
        box-shadow: 0px 26px 15px -5px rgba(32, 34, 33, 0.603);
      }
    }
    
    .trending {
      flex: display;
    
      padding: 4px;
      font-size: 12px;
    }
    
    .trending-photo-body {
      background-color: transparent;
      color: rgb(238, 238, 238);
      font-weight: 500;
      width: 160px;
      height: 250px;
      max-width: 300px;
      max-height: 450px;
      border-radius: inherit;
    }
    
    .trending-photo {
      height: inherit;
      width: inherit;
      border-radius: inherit;
    }
    
  
    * {
      box-sizing: border-box;
      font-family: 'Montserrat', serif;
    }
  

     .movieCard-wrapper{
       padding: 0px;
     }


    .movie-button--housing {
      flex: 1;
      h1 {
        color: white;
        font-weight: 200;
        font-family: 'Cinzel';
        font-size: 20px;
        padding: 0px;
      }
    }
    .search-box {
      flex: 1;
      color: green;
      height: 40px;
      padding: 5px 5px;
      width: 230px;
      margin: 10px;
      border-color: green;
      font-size: 18px;
      font-family: 'Cinzel';
  
      &:active {
        border: green;
        box-shadow: 0px 0px 15px green;
      }
    }
  
    .search-button {
      flex: 1;
      height: 35px;
      border-radius: 25px;
      border-color: skyblue;
      padding: 0px 5px;
      text-align: center;
      justify-self: center;
      margin: 10px;
      font-size: 18px;
      align-self: center;
  
      &:active {
        box-shadow: 0px 0px 15px green;
      }
    }
  
    .backForwardButton {
      flex: 1;
      height: 35px;
      width: 220px;
      border-radius: 25px;
      border-color: skyblue;
      padding: 0px 5px;
      text-align: center;
      justify-self: center;
      margin: 10px;
      font-size: 18px;
      align-self: center;
      align-self: right;
  
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px black;
      }
    }
  
  
    //subpage card
  }
  
  ///
  // //
  // //
  // //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  
  //
  //
  //
  //
  //
  //
  //
  //
  @media all and (min-width: 450px) {




    .movieCard-wrapper {
      text-align: center;
      justify-content: center;
      align-items: center;
      background: transparent;
    }
  
    .movie-housing-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }
  
    .movie-button--housing {
      flex: 1;
      padding: 5px;
      h1 {
        color: white;
        font-weight: 500;
        font-weight: 200;
        font-family: 'Cinzel';
        font-size: 16px;
      }
    }
    .search-box {
      flex: 1;
      color: green;
      height: 35px;
      padding: 5px 5px;
      width: 170px;
      margin: 10px;
      border-color: green;
      font-size: 18px;
  
      letter-spacing: 3px;
      &:active {
        border: green;
        box-shadow: 0px 0px 15px green;
      }
    }
  
    .search-button {
      flex: 1;
      height: 35px;
      width: 150px;
      border-radius: 25px;
      border-color: skyblue;
      padding: 0px 5px;
      text-align: center;
      justify-self: right;
      margin: 10px;
      font-size: 14px;
  
      bottom: 0;
      right: 0;
      &:active {
        box-shadow: 0px 0px 15px green;
      }
    }
  
    .backForwardButton {
      flex: 1;
      height: 35px;
      width: 220px;
      border-radius: 25px;
      border-color: skyblue;
      padding: 0px 5px;
      text-align: center;
      justify-self: center;
      margin: 10px;
      font-size: 18px;
      align-self: center;
      align-self: right;
  
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px black;
      }
    }
  
    .jump-button {
      position: fixed;
      scroll-behavior: smooth;
      right: 0;
      top: 0;
      z-index: 13;
      height: 60px;
      width: 60px;
      margin: 3px;
      margin-top: 75%;
      background-color: rgba(218, 235, 201, 0.609);
      color: rgba(255, 255, 255, 0.486);
      font-weight: 100;
      font-size: 12px;
      border-radius: 20%;
      box-shadow: 0px 0px 2px rgb(37, 26, 26);
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px black;
      }
    }
  }
  